* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: rgb(56, 56, 56);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
