.projetos {
  background-color: rgb(34, 34, 34);
  padding: 10px 0px;
  h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }
}
