.projetos {
  background-color: rgb(20, 20, 20);
  padding: 1.5rem;
  h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
  }
  .container {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    gap: 1rem;
    & > * {
      flex: 1 400px;
    }
  }
}
