.cardform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  gap: 0.5rem;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    color: black;
  }

  p {
    padding: 1rem;
    text-align: center;
  }
  div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    a.link {
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        font-size: 2rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }
    a.link:hover {
      i {
        color: rgb(0, 140, 255);
      }
    }
    a.git {
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        font-size: 2rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
    }
    a.git:hover {
      i {
        color: rgb(0, 140, 255);
      }
    }
  }
}
