.cardform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  gap: 0.5rem;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    color: black;
  }

  p {
    text-align: center;
  }
  a {
    button {
      background-color: rgb(42, 81, 255);
      padding: 8px;
      height: 2rem;
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 15px;
      color: white;
    }
  }
}
